@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Hello CloudOuest !</h1>
        <img class="fit-picture"
            src="https://res.cloudinary.com/ideation/image/upload/w_140,q_auto,f_auto,dpr_auto/ma6grojjmekxzx5nn9qz"
            alt="cloudouestimg">
    </div>
